body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  user-select: none;
}

.tilt-card {
  width: 70%;
  height: 60%;
  background-color: black;
  border: 3px solid white;
  display: flex;
  flex-direction: column; /* Ensure items stack vertically */
  color: white;
  font-size: 20px;
  border-radius: 15px;
  transition: none;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(255, 255, 255);
  transform-style: preserve-3d;
}

.title {
  font-size: 60px;
  text-align: left;
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px; /* Add margin below the title */
}

.menu {
  padding-left: 30px; /* Align menu with the title */
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin: 5px 0;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  outline: none;
}

.menu a:hover {
  text-decoration: underline;
}